.index {
    background-image: url("images/Abstract_Geometric_Background_-_Cold_Colors.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(26, 12, 102, 0.918);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 85px;
}

.collapse {
    font-size: 18px;
    padding-left: 20px;
}

.bg1 {
    background-color: rgba(255, 255, 255, 0.747);
    margin: 50px;
    border-radius: 20px;
    box-shadow: 15px 15px 10px rgba(44, 20, 83, 0.37);
    margin-top: 170px;
}

#intro {
    margin: 40px;
    padding-top: 30px;
}

.navbar-brand {
    font-size: 18px;
    font-weight: 800;
}

.para1 {
    font-size: 22px;
}

.head2 {
    font-size: 40px;
    font-weight: 800;
    margin-top: 140px;
    margin-bottom: 30px;
}

.logos {
    margin: 20px;
}
.logos:hover{
    transform: scale(1.4);
    background-color: rgba(80, 28, 148, 0.356);
    padding: 10px;
    border: none;
    border-radius:50%;
}

.courses {
    padding: 20px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to bottom, rgba(80, 80, 238, 0.925), rgba(162, 89, 180, 0.925));
    border: none;
    border-radius: 20px;
}

.para2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

footer {
    background-color: rgb(26, 12, 102);
    padding-top: 50px;
    padding-bottom: 10px;
}

#footertext {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.courses:hover {
    box-shadow: 3px 10px 16px 5px rgba(4, 54, 119, 0.966)
}

.canvas:hover {
    box-shadow: 3px 3px 10px 3px rgb(187, 199, 240);
}

.foot:hover {
    color: orange !important;
    text-decoration-line: underline !important;
}